.version.airforcevehicles /* version checker */
{
	color: #0000E6;
	background-color: #CA5960;
}

.html
{
	background: #FFFFFF url("../images/su_30_by_petervanstigt-d5d9xhi.jpg") no-repeat center center fixed;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 757px;
	min-height: 437px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 1px 79px 62px 124px;
}

#pu1866-4
{
	width: 0.01px;
	margin-left: 221px;
}

#u1866-4
{
	z-index: 4;
	width: 106px;
	min-height: 30px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
}

#u1864
{
	z-index: 2;
	width: 64px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 117px;
}

#u1867-4
{
	z-index: 8;
	width: 156px;
	min-height: 41px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 192px;
}

#menuu1868
{
	z-index: 12;
	width: 740px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 44px;
	position: relative;
}

#u1897
{
	width: 104px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1898
{
	width: 104px;
	background: transparent url("../images/u1898-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(41, 171, 226, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(41, 171, 226, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(41, 171, 226, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(41, 171, 226, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	padding-bottom: 17px;
	position: relative;
}

#u1898:hover
{
	background: transparent url("../images/u1774-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(153, 153, 153, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u1898:active
{
	background: transparent url("../images/u1774-m-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(107, 107, 107, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u1901-4
{
	width: 104px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1898:hover #u1901-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1898:active #u1901-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1904
{
	width: 104px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 106px;
}

#u1905
{
	width: 104px;
	background: transparent url("../images/u1898-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(41, 171, 226, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(41, 171, 226, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(41, 171, 226, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(41, 171, 226, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	padding-bottom: 17px;
	position: relative;
}

#u1905:hover
{
	background: transparent url("../images/u1774-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(153, 153, 153, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u1905:active
{
	background: transparent url("../images/u1774-m-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(107, 107, 107, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u1908-4
{
	width: 104px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1898.MuseMenuActive #u1901-4,#u1905:hover #u1908-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1905:active #u1908-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1883
{
	width: 104px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 212px;
}

#u1886
{
	width: 104px;
	background: transparent url("../images/u1898-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(41, 171, 226, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(41, 171, 226, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(41, 171, 226, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(41, 171, 226, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	padding-bottom: 17px;
	position: relative;
}

#u1886:hover
{
	background: transparent url("../images/u1774-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(153, 153, 153, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u1886:active
{
	background: transparent url("../images/u1774-m-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(107, 107, 107, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u1887-4
{
	width: 104px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1905.MuseMenuActive #u1908-4,#u1886:hover #u1887-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1886:active #u1887-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1876
{
	width: 104px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 318px;
}

#u1877
{
	width: 104px;
	background: transparent url("../images/u1898-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(41, 171, 226, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(41, 171, 226, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(41, 171, 226, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(41, 171, 226, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	padding-bottom: 17px;
	position: relative;
}

#u1877:hover
{
	background: transparent url("../images/u1774-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(153, 153, 153, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u1877:active
{
	background: transparent url("../images/u1774-m-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(107, 107, 107, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u1879-4
{
	width: 104px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1886.MuseMenuActive #u1887-4,#u1877:hover #u1879-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1877:active #u1879-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1869
{
	width: 104px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 424px;
}

#u1872
{
	width: 104px;
	background: transparent url("../images/u1898-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(41, 171, 226, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(41, 171, 226, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(41, 171, 226, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(41, 171, 226, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	padding-bottom: 17px;
	position: relative;
}

#u1872:hover
{
	background: transparent url("../images/u1774-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(153, 153, 153, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u1872:active
{
	background: transparent url("../images/u1774-m-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(107, 107, 107, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u1873-4
{
	width: 104px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1877.MuseMenuActive #u1879-4,#u1872:hover #u1873-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1872:active #u1873-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1890
{
	width: 104px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 530px;
}

#u1891
{
	width: 104px;
	background: transparent url("../images/u1898-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(41, 171, 226, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(41, 171, 226, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(41, 171, 226, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(41, 171, 226, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	padding-bottom: 17px;
	position: relative;
}

#u1891:hover
{
	background: transparent url("../images/u1774-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(153, 153, 153, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u1891:active
{
	background: transparent url("../images/u1774-m-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(107, 107, 107, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u1892-4
{
	width: 104px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1872.MuseMenuActive #u1873-4,#u1891:hover #u1892-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1891:active #u1892-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2067
{
	width: 104px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 636px;
}

#u2068
{
	width: 104px;
	background: transparent url("../images/u1898-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(41, 171, 226, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(41, 171, 226, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(41, 171, 226, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(41, 171, 226, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	padding-bottom: 17px;
	position: relative;
}

#u2068:hover
{
	background: transparent url("../images/u1774-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(153, 153, 153, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u2068:active
{
	background: transparent url("../images/u1774-m-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(107, 107, 107, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u2070-4
{
	width: 104px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1891.MuseMenuActive #u1892-4,#u2068:hover #u2070-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2068:active #u2070-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2068.MuseMenuActive #u2070-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#pamphletu2401
{
	z-index: 55;
	width: 0.01px;
	height: 153px;
	padding-bottom: 427px;
	margin-top: 24px;
	position: relative;
}

#u2415
{
	position: absolute;
	width: 548px;
	background-color: transparent;
	left: 209px;
}

#u2415popup
{
	z-index: 56;
}

#u2421
{
	z-index: 57;
	width: 450px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 14px 75px 100px 23px;
}

#u2525
{
	z-index: 58;
	width: 170px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2530
{
	z-index: 60;
	width: 170px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 280px;
}

#pu2550-4
{
	width: 0.01px;
	margin-left: 23px;
	margin-top: 7px;
}

#u2550-4
{
	z-index: 68;
	width: 124px;
	min-height: 8px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u2553-4
{
	z-index: 80;
	width: 124px;
	min-height: 8px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 280px;
}

#u2535
{
	z-index: 62;
	width: 170px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2540
{
	z-index: 64;
	width: 170px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 280px;
}

#u2551-4
{
	z-index: 72;
	width: 124px;
	min-height: 8px;
	background-color: transparent;
	margin-left: 23px;
	top: -9px;
	margin-bottom: -9px;
	position: relative;
}

#pu2545
{
	width: 0.01px;
	margin-top: 5px;
}

#u2545
{
	z-index: 66;
	width: 170px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u2554-4
{
	z-index: 84;
	width: 147px;
	min-height: 8px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 303px;
}

#u2552-4
{
	z-index: 76;
	width: 168px;
	min-height: 8px;
	background-color: transparent;
	margin-left: 2px;
	margin-top: 11px;
	position: relative;
}

#u2416
{
	z-index: 88;
	width: 459px;
	height: 315px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 18px 69px 247px 20px;
}

#pu2525,#pu2555
{
	width: 0.01px;
}

#u2555
{
	z-index: 89;
	width: 170px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2560
{
	z-index: 91;
	width: 190px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 269px;
}

#pu2575-4
{
	width: 0.01px;
	margin-left: 27px;
	margin-top: 9px;
}

#u2575-4
{
	z-index: 97;
	width: 122px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2576-4
{
	z-index: 101;
	width: 135px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 273px;
}

#pu2565
{
	width: 0.01px;
	margin-top: 16px;
}

#u2565
{
	z-index: 93;
	width: 170px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u2570
{
	z-index: 95;
	width: 181px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 274px;
}

#pu2577-4
{
	width: 0.01px;
	margin-left: 15px;
	margin-top: 15px;
}

#u2577-4
{
	z-index: 105;
	width: 155px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2578-4
{
	z-index: 109;
	width: 135px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 285px;
}

#u2426
{
	z-index: 113;
	width: 453px;
	height: 553px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 23px 75px 4px 20px;
}

#u2579
{
	z-index: 114;
	width: 170px;
	background-color: transparent;
	position: relative;
}

#u2614-4
{
	z-index: 128;
	width: 73px;
	background-color: transparent;
	margin-left: 43px;
	margin-top: 5px;
	position: relative;
}

#u2584
{
	z-index: 116;
	width: 170px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 264px;
}

#ppu2579,#pu2589
{
	width: 0.01px;
	margin-left: 5px;
}

#u2589
{
	z-index: 118;
	width: 170px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu2615-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 5px;
	margin-left: 264px;
}

#u2615-4
{
	z-index: 132;
	width: 184px;
	background-color: transparent;
	position: relative;
}

#u2594
{
	z-index: 120;
	width: 177px;
	background-color: transparent;
	margin-top: 10px;
	position: relative;
}

#pu2616-4
{
	width: 0.01px;
	margin-left: 27px;
	margin-top: 2px;
}

#u2616-4
{
	z-index: 136;
	width: 108px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2617-4
{
	z-index: 140;
	width: 43px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 301px;
}

#ppu2599
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: 2px;
}

#pu2579,#pu2599
{
	width: 0.01px;
	margin-right: -10000px;
}

#u2599
{
	z-index: 122;
	width: 170px;
	background-color: transparent;
	position: relative;
}

#u2618-4
{
	z-index: 144;
	width: 71px;
	background-color: transparent;
	margin-left: 41px;
	margin-top: 4px;
	position: relative;
}

#u2604
{
	z-index: 124;
	width: 170px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 264px;
}

#pu2535,#pu2609
{
	width: 0.01px;
	margin-top: 10px;
}

#u2609
{
	z-index: 126;
	width: 180px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2619-4
{
	z-index: 148;
	width: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 293px;
}

#u2620-4
{
	z-index: 152;
	width: 81px;
	background-color: transparent;
	margin-left: 54px;
	margin-top: 4px;
	position: relative;
}

#u2402
{
	z-index: 156;
	width: 182px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 8px;
}

#u2403
{
	position: absolute;
	width: 199px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	padding-bottom: 3px;
	top: -7px;
	left: -8px;
}

#u2403:hover
{
	border-color: #999999;
	width: 199px;
	min-height: 0px;
	margin: 0px;
}

#u2404-4
{
	z-index: 158;
	width: 180px;
	min-height: 20px;
	background-color: transparent;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 9px;
}

#u2403:hover #u2404-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 6px -10000px 0px 0px;
}

#u2403.PamphletThumbSelected #u2404-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 6px -10000px 0px 0px;
}

#u2403:hover #u2404-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u2407
{
	position: absolute;
	width: 199px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	padding-bottom: 5px;
	top: 59px;
	left: -8px;
}

#u2403.PamphletThumbSelected,#u2407:hover
{
	border-color: #999999;
	width: 199px;
	min-height: 0px;
	margin: 0px;
}

#u2408-4
{
	z-index: 163;
	width: 180px;
	min-height: 20px;
	background-color: transparent;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 7px;
}

#u2407:hover #u2408-4
{
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 4px -10000px 0px 0px;
}

#u2407.PamphletThumbSelected #u2408-4
{
	border-color: #DEDEDE;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 4px -10000px 0px 0px;
}

#u2407:hover #u2408-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u2405
{
	position: absolute;
	width: 199px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	padding-bottom: 4px;
	top: 117px;
	left: -8px;
}

#u2407.PamphletThumbSelected,#u2405:hover
{
	border-color: #999999;
	width: 199px;
	min-height: 0px;
	margin: 0px;
}

#u2405.PamphletThumbSelected
{
	border-color: #999999;
	width: 199px;
	min-height: 0px;
	margin: 0px;
}

#u2406-4
{
	z-index: 168;
	width: 180px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 9px;
}

#u2405:hover #u2406-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 5px -10000px 0px 0px;
}

#u2405.PamphletThumbSelected #u2406-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 5px -10000px 0px 0px;
}

#u2405:hover #u2406-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u2403.PamphletThumbSelected #u2404-4 p,#u2407.PamphletThumbSelected #u2408-4 p,#u2405.PamphletThumbSelected #u2406-4 p
{
	color: #6B6B6B;
	visibility: inherit;
	line-height: 1.4;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

