.version.navy /* version checker */
{
	color: #0000F8;
	background-color: #D2697D;
}

.html
{
	background: #FFFFFF url("../images/aircraft-carrier-ins-vikramaditya-indian-navy.jpg") no-repeat center center fixed;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -2px;
	padding-bottom: 61px;
}

#pu718-4
{
	width: 0.01px;
	margin-left: 346px;
}

#u718-4
{
	z-index: 4;
	width: 104px;
	min-height: 30px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
}

#u716
{
	z-index: 2;
	width: 64px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 116px;
}

#u719-4
{
	z-index: 8;
	width: 156px;
	min-height: 41px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 192px;
}

#menuu720
{
	z-index: 12;
	width: 920px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 47px;
	position: relative;
}

#u721
{
	width: 129px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u724
{
	width: 129px;
	background: transparent url("../images/u724-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(46, 49, 146, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(46, 49, 146, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(46, 49, 146, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(46, 49, 146, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	padding-bottom: 17px;
	position: relative;
}

#u724:hover
{
	background: transparent url("../images/u724-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(153, 153, 153, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u724:active
{
	background: transparent url("../images/u724-m-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(107, 107, 107, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u727-4
{
	width: 129px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u724:hover #u727-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u724:active #u727-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u749
{
	width: 129px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 131px;
}

#u750
{
	width: 129px;
	background: transparent url("../images/u724-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(46, 49, 146, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(46, 49, 146, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(46, 49, 146, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(46, 49, 146, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	padding-bottom: 17px;
	position: relative;
}

#u750:hover
{
	background: transparent url("../images/u724-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(153, 153, 153, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u750:active
{
	background: transparent url("../images/u724-m-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(107, 107, 107, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u751-4
{
	width: 129px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u724.MuseMenuActive #u727-4,#u750:hover #u751-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u750:active #u751-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u735
{
	width: 130px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 262px;
}

#u738
{
	width: 130px;
	background: transparent url("../images/u738-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(46, 49, 146, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(46, 49, 146, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(46, 49, 146, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(46, 49, 146, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	padding-bottom: 17px;
	position: relative;
}

#u738.MuseMenuActive
{
	background: transparent url("../images/u738-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(46, 49, 146, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(46, 49, 146, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(46, 49, 146, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(46, 49, 146, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u740-4
{
	width: 130px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 0px;
}

#u750.MuseMenuActive #u751-4,#u738:hover #u740-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u738:active #u740-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u742
{
	width: 130px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 394px;
}

#u743
{
	width: 130px;
	background: transparent url("../images/u738-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(46, 49, 146, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(46, 49, 146, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(46, 49, 146, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(46, 49, 146, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	padding-bottom: 17px;
	position: relative;
}

#u743:hover
{
	background: transparent url("../images/u743-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(153, 153, 153, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u743:active
{
	background: transparent url("../images/u743-m-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(107, 107, 107, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u745-4
{
	width: 130px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u738.MuseMenuActive #u740-4,#u743:hover #u745-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u743:active #u745-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1284
{
	width: 130px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 526px;
}

#u1287
{
	width: 130px;
	background: transparent url("../images/u738-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(46, 49, 146, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(46, 49, 146, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(46, 49, 146, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(46, 49, 146, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	padding-bottom: 17px;
	position: relative;
}

#u1287:hover
{
	background: transparent url("../images/u743-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(153, 153, 153, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u1287:active
{
	background: transparent url("../images/u743-m-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(107, 107, 107, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u1288-4
{
	width: 130px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u743.MuseMenuActive #u745-4,#u1287:hover #u1288-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1287:active #u1288-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u728
{
	width: 130px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 658px;
}

#u729
{
	width: 130px;
	background: transparent url("../images/u738-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(46, 49, 146, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(46, 49, 146, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(46, 49, 146, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(46, 49, 146, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	padding-bottom: 17px;
	position: relative;
}

#u729:hover
{
	background: transparent url("../images/u743-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(153, 153, 153, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u729:active
{
	background: transparent url("../images/u743-m-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(107, 107, 107, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u732-4
{
	width: 130px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1287.MuseMenuActive #u1288-4,#u729:hover #u732-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u729:active #u732-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2046
{
	width: 130px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 790px;
}

#u2047
{
	width: 130px;
	background: transparent url("../images/u738-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(46, 49, 146, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(46, 49, 146, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(46, 49, 146, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(46, 49, 146, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	padding-bottom: 17px;
	position: relative;
}

#u2047:hover
{
	background: transparent url("../images/u743-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(153, 153, 153, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u2047:active
{
	background: transparent url("../images/u743-m-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(107, 107, 107, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u2050-4
{
	width: 130px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u729.MuseMenuActive #u732-4,#u2047:hover #u2050-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2047:active #u2050-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2047.MuseMenuActive #u2050-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#accordionu1026
{
	z-index: 55;
	width: 739px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-left: 124px;
	margin-top: 14px;
	position: relative;
}

#u1035
{
	z-index: 56;
	width: 739px;
	background-color: transparent;
	position: relative;
}

#u1036-4
{
	z-index: 57;
	width: 727px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1036-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 727px;
	margin: 0px;
}

#u1036-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 727px;
	margin: 0px;
}

#u1037
{
	z-index: 61;
	width: 737px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
}

#u1039-7
{
	z-index: 62;
	width: 715px;
	min-height: 287px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 11px;
}

#u1027
{
	z-index: 69;
	width: 739px;
	background-color: transparent;
	position: relative;
}

#u1030-4
{
	z-index: 70;
	width: 727px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1030-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 727px;
	margin: 0px;
}

#u1030-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 727px;
	margin: 0px;
}

#u1028
{
	z-index: 74;
	width: 737px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 13px;
	position: relative;
}

#u1046-4
{
	z-index: 79;
	width: 712px;
	min-height: 108px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 12px;
}

#pu1045-3
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 73px;
	margin-left: 12px;
}

#u1045-3
{
	z-index: 75;
	width: 15px;
	min-height: 63px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 295px;
}

#u1122
{
	z-index: 78;
	width: 437px;
	min-height: 134px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
}

#u1063
{
	z-index: 83;
	width: 739px;
	background-color: transparent;
	position: relative;
}

#u1064-4
{
	z-index: 84;
	width: 727px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1064-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 727px;
	margin: 0px;
}

#u1064-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 727px;
	margin: 0px;
}

#u1036-4.AccordionPanelTabOpen,#u1030-4.AccordionPanelTabOpen,#u1064-4.AccordionPanelTabOpen
{
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 727px;
	margin: 0px;
}

#u1036-4.AccordionPanelTabOpen p,#u1030-4.AccordionPanelTabOpen p,#u1064-4.AccordionPanelTabOpen p
{
	color: #4F4F4F;
	visibility: inherit;
}

#u1065
{
	z-index: 88;
	width: 712px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	position: relative;
	padding: 5px 13px 4.000000000000227px 12px;
}

#u1129-16
{
	z-index: 89;
	width: 708px;
	min-height: 554px;
	background-color: transparent;
	position: relative;
}

#u1130-4
{
	z-index: 105;
	width: 712px;
	min-height: 296px;
	background-color: transparent;
	margin-top: 14px;
	position: relative;
}

.MenuItem,.AccordionPanelTab /* unifiedNavBar */
{
	cursor: pointer;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

