.version.about_us /* version checker */
{
	color: #0000F1;
	background-color: #1E92C7;
}

.html
{
	background: #FFFFFF url("../images/10519-mcdonnell-douglas-f-15-eagle-1366x768-aircraft-wallpaper.jpg") repeat left top fixed;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.95px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -1px;
	padding-bottom: 62px;
}

#pu860-4
{
	width: 0.01px;
	margin-left: 348px;
}

#u860-4
{
	z-index: 4;
	width: 102px;
	min-height: 30px;
	background-color: transparent;
	font-size: 30px;
	color: #FDD001;
	line-height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
}

#u858
{
	z-index: 2;
	width: 64px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 114px;
}

#u861-4
{
	z-index: 8;
	width: 156px;
	min-height: 41px;
	background-color: transparent;
	font-size: 30px;
	color: #FDD001;
	line-height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 190px;
}

#menuu862
{
	z-index: 12;
	width: 740px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 153px;
	left: 50%;
	margin-left: -356px;
}

#u870
{
	width: 104px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u873
{
	width: 104px;
	background: transparent url("../images/u644-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(253, 208, 1, 0.46)),color-stop(100%, rgba(251, 176, 59, 0.5)));
	background: -webkit-linear-gradient(left,rgba(253, 208, 1, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(253, 208, 1, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: linear-gradient(to right,rgba(253, 208, 1, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	padding-bottom: 17px;
	position: relative;
}

#u873:hover
{
	background: transparent url("../images/u635-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(153, 153, 153, 0.46)),color-stop(100%, rgba(251, 176, 59, 0.5)));
	background: -webkit-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: linear-gradient(to right,rgba(153, 153, 153, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	margin: 0px;
}

#u873:active
{
	background: transparent url("../images/u635-m-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(107, 107, 107, 0.46)),color-stop(100%, rgba(251, 176, 59, 0.5)));
	background: -webkit-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: linear-gradient(to right,rgba(107, 107, 107, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	margin: 0px;
}

#u875-4
{
	width: 104px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u873:hover #u875-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u873:active #u875-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u863
{
	width: 104px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 106px;
}

#u864
{
	width: 104px;
	background: transparent url("../images/u644-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(253, 208, 1, 0.46)),color-stop(100%, rgba(251, 176, 59, 0.5)));
	background: -webkit-linear-gradient(left,rgba(253, 208, 1, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(253, 208, 1, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: linear-gradient(to right,rgba(253, 208, 1, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	padding-bottom: 17px;
	position: relative;
}

#u864:hover
{
	background: transparent url("../images/u635-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(153, 153, 153, 0.46)),color-stop(100%, rgba(251, 176, 59, 0.5)));
	background: -webkit-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: linear-gradient(to right,rgba(153, 153, 153, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	margin: 0px;
}

#u864:active
{
	background: transparent url("../images/u635-m-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(107, 107, 107, 0.46)),color-stop(100%, rgba(251, 176, 59, 0.5)));
	background: -webkit-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: linear-gradient(to right,rgba(107, 107, 107, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	margin: 0px;
}

#u867-4
{
	width: 104px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u873.MuseMenuActive #u875-4,#u864:hover #u867-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u864:active #u867-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u877
{
	width: 104px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 212px;
}

#u880
{
	width: 104px;
	background: transparent url("../images/u644-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(253, 208, 1, 0.46)),color-stop(100%, rgba(251, 176, 59, 0.5)));
	background: -webkit-linear-gradient(left,rgba(253, 208, 1, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(253, 208, 1, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: linear-gradient(to right,rgba(253, 208, 1, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	padding-bottom: 17px;
	position: relative;
}

#u880:hover
{
	background: transparent url("../images/u635-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(153, 153, 153, 0.46)),color-stop(100%, rgba(251, 176, 59, 0.5)));
	background: -webkit-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: linear-gradient(to right,rgba(153, 153, 153, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	margin: 0px;
}

#u880:active
{
	background: transparent url("../images/u635-m-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(107, 107, 107, 0.46)),color-stop(100%, rgba(251, 176, 59, 0.5)));
	background: -webkit-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: linear-gradient(to right,rgba(107, 107, 107, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	margin: 0px;
}

#u881-4
{
	width: 104px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u864.MuseMenuActive #u867-4,#u880:hover #u881-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u880:active #u881-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u891
{
	width: 104px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 318px;
}

#u892
{
	width: 104px;
	background: transparent url("../images/u644-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(253, 208, 1, 0.46)),color-stop(100%, rgba(251, 176, 59, 0.5)));
	background: -webkit-linear-gradient(left,rgba(253, 208, 1, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(253, 208, 1, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: linear-gradient(to right,rgba(253, 208, 1, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	padding-bottom: 17px;
	position: relative;
}

#u892:hover
{
	background: transparent url("../images/u635-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(153, 153, 153, 0.46)),color-stop(100%, rgba(251, 176, 59, 0.5)));
	background: -webkit-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: linear-gradient(to right,rgba(153, 153, 153, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	margin: 0px;
}

#u892:active
{
	background: transparent url("../images/u635-m-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(107, 107, 107, 0.46)),color-stop(100%, rgba(251, 176, 59, 0.5)));
	background: -webkit-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: linear-gradient(to right,rgba(107, 107, 107, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	margin: 0px;
}

#u894-4
{
	width: 104px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u880.MuseMenuActive #u881-4,#u892:hover #u894-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u892:active #u894-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1277
{
	width: 104px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 424px;
}

#u1278
{
	width: 104px;
	background: transparent url("../images/u644-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(253, 208, 1, 0.46)),color-stop(100%, rgba(251, 176, 59, 0.5)));
	background: -webkit-linear-gradient(left,rgba(253, 208, 1, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(253, 208, 1, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: linear-gradient(to right,rgba(253, 208, 1, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	padding-bottom: 17px;
	position: relative;
}

#u1278:hover
{
	background: transparent url("../images/u635-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(153, 153, 153, 0.46)),color-stop(100%, rgba(251, 176, 59, 0.5)));
	background: -webkit-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: linear-gradient(to right,rgba(153, 153, 153, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	margin: 0px;
}

#u1278:active
{
	background: transparent url("../images/u635-m-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(107, 107, 107, 0.46)),color-stop(100%, rgba(251, 176, 59, 0.5)));
	background: -webkit-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: linear-gradient(to right,rgba(107, 107, 107, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	margin: 0px;
}

#u1281-4
{
	width: 104px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u892.MuseMenuActive #u894-4,#u1278:hover #u1281-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1278:active #u1281-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u884
{
	width: 104px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 530px;
}

#u885
{
	width: 104px;
	background: transparent url("../images/u644-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(253, 208, 1, 0.46)),color-stop(100%, rgba(251, 176, 59, 0.5)));
	background: -webkit-linear-gradient(left,rgba(253, 208, 1, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(253, 208, 1, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: linear-gradient(to right,rgba(253, 208, 1, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	padding-bottom: 17px;
	position: relative;
}

#u885.MuseMenuActive
{
	background: transparent url("../images/u644-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(253, 208, 1, 0.46)),color-stop(100%, rgba(251, 176, 59, 0.5)));
	background: -webkit-linear-gradient(left,rgba(253, 208, 1, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(253, 208, 1, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: linear-gradient(to right,rgba(253, 208, 1, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	margin: 0px;
}

#u888-4
{
	width: 104px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 0px;
}

#u1278.MuseMenuActive #u1281-4,#u885:hover #u888-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u885:active #u888-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2025
{
	width: 104px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 636px;
}

#u2026
{
	width: 104px;
	background: transparent url("../images/u644-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(253, 208, 1, 0.46)),color-stop(100%, rgba(251, 176, 59, 0.5)));
	background: -webkit-linear-gradient(left,rgba(253, 208, 1, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(253, 208, 1, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: linear-gradient(to right,rgba(253, 208, 1, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	padding-bottom: 17px;
	position: relative;
}

#u2026:hover
{
	background: transparent url("../images/u635-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(153, 153, 153, 0.46)),color-stop(100%, rgba(251, 176, 59, 0.5)));
	background: -webkit-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: linear-gradient(to right,rgba(153, 153, 153, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	margin: 0px;
}

#u2026:active
{
	background: transparent url("../images/u635-m-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(107, 107, 107, 0.46)),color-stop(100%, rgba(251, 176, 59, 0.5)));
	background: -webkit-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: linear-gradient(to right,rgba(107, 107, 107, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	margin: 0px;
}

#u2028-4
{
	width: 104px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u885.MuseMenuActive #u888-4,#u2026:hover #u2028-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2026:active #u2028-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2026.MuseMenuActive #u2028-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#pu1110
{
	width: 0.01px;
	margin-left: 124px;
	margin-top: 117px;
}

#u1110
{
	z-index: 55;
	width: 214px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.8);
	padding-bottom: 12px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(255, 255, 255, 0.8);
}

#u1111-11
{
	z-index: 56;
	width: 175px;
	min-height: 89px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 14px;
}

#u1113
{
	z-index: 67;
	width: 501px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.8);
	padding-bottom: 12px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 238px;
	-pie-background: rgba(255, 255, 255, 0.8);
}

#u1114-7
{
	z-index: 68;
	width: 474px;
	min-height: 96px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 11px;
}

#slideshowu1211
{
	z-index: 75;
	width: 0.01px;
	height: 184px;
	margin-left: 124px;
	margin-top: 16px;
	position: relative;
}

#u1212
{
	position: absolute;
	width: 740px;
	height: 144px;
	background-color: transparent;
}

#u1212popup
{
	z-index: 76;
}

#u1215
{
	z-index: 77;
	width: 740px;
	height: 144px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1217
{
	z-index: 79;
	width: 740px;
	height: 144px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1213
{
	z-index: 81;
	width: 740px;
	height: 144px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1220
{
	position: absolute;
	width: 617px;
	background-color: transparent;
	top: 144px;
}

#u1220popup
{
	z-index: 83;
}

#u1223-4
{
	z-index: 84;
	width: 597px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1221-4
{
	z-index: 88;
	width: 597px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1222-4
{
	z-index: 92;
	width: 597px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1233-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 144px;
	left: 642px;
}

#u1233-4popup
{
	z-index: 96;
}

#u1231-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 144px;
	left: 617px;
}

#u1231-4popup
{
	z-index: 100;
}

#u1233,#u1231
{
	color: #999999;
}

#u1232-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 144px;
	left: 710px;
}

#u1232-4popup
{
	z-index: 104;
}

.MenuItem,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

