.version.air_force /* version checker */
{
	color: #0000F4;
	background-color: #97EC87;
}

.html
{
	background: #FFFFFF url("../images/su_30_by_petervanstigt-d5d9xhi.jpg") no-repeat left top fixed;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 741px;
	min-height: 437.5999999999997px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 1px 95px 61.40000000000032px 124px;
}

#pu783-4
{
	width: 0.01px;
	margin-left: 221px;
}

#u783-4
{
	z-index: 4;
	width: 106px;
	min-height: 30px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
}

#u781
{
	z-index: 2;
	width: 64px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 117px;
}

#u784-4
{
	z-index: 8;
	width: 156px;
	min-height: 41px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 192px;
}

#menuu785
{
	z-index: 12;
	width: 740px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 44px;
	position: relative;
}

#u814
{
	width: 104px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u815
{
	width: 104px;
	background: transparent url("../images/u815-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(41, 171, 226, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(41, 171, 226, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(41, 171, 226, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(41, 171, 226, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	padding-bottom: 17px;
	position: relative;
}

#u815:hover
{
	background: transparent url("../images/u724-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(153, 153, 153, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u815:active
{
	background: transparent url("../images/u724-m-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(107, 107, 107, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u817-4
{
	width: 104px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u815:hover #u817-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u815:active #u817-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u800
{
	width: 104px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 106px;
}

#u801
{
	width: 104px;
	background: transparent url("../images/u815-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(41, 171, 226, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(41, 171, 226, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(41, 171, 226, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(41, 171, 226, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	padding-bottom: 17px;
	position: relative;
}

#u801:hover
{
	background: transparent url("../images/u724-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(153, 153, 153, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u801:active
{
	background: transparent url("../images/u724-m-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(107, 107, 107, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u804-4
{
	width: 104px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u815.MuseMenuActive #u817-4,#u801:hover #u804-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u801:active #u804-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u793
{
	width: 104px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 212px;
}

#u796
{
	width: 104px;
	background: transparent url("../images/u815-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(41, 171, 226, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(41, 171, 226, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(41, 171, 226, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(41, 171, 226, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	padding-bottom: 17px;
	position: relative;
}

#u796:hover
{
	background: transparent url("../images/u724-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(153, 153, 153, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u796:active
{
	background: transparent url("../images/u724-m-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(107, 107, 107, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u797-4
{
	width: 104px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u801.MuseMenuActive #u804-4,#u796:hover #u797-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u796:active #u797-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u807
{
	width: 104px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 318px;
}

#u808
{
	width: 104px;
	background: transparent url("../images/u815-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(41, 171, 226, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(41, 171, 226, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(41, 171, 226, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(41, 171, 226, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	padding-bottom: 17px;
	position: relative;
}

#u808.MuseMenuActive
{
	background: transparent url("../images/u815-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(41, 171, 226, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(41, 171, 226, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(41, 171, 226, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(41, 171, 226, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u811-4
{
	width: 104px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 0px;
}

#u796.MuseMenuActive #u797-4,#u808:hover #u811-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u808:active #u811-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1256
{
	width: 104px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 424px;
}

#u1259
{
	width: 104px;
	background: transparent url("../images/u815-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(41, 171, 226, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(41, 171, 226, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(41, 171, 226, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(41, 171, 226, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	padding-bottom: 17px;
	position: relative;
}

#u1259:hover
{
	background: transparent url("../images/u724-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(153, 153, 153, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u1259:active
{
	background: transparent url("../images/u724-m-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(107, 107, 107, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u1261-4
{
	width: 104px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u808.MuseMenuActive #u811-4,#u1259:hover #u1261-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1259:active #u1261-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u786
{
	width: 104px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 530px;
}

#u789
{
	width: 104px;
	background: transparent url("../images/u815-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(41, 171, 226, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(41, 171, 226, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(41, 171, 226, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(41, 171, 226, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	padding-bottom: 17px;
	position: relative;
}

#u789:hover
{
	background: transparent url("../images/u724-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(153, 153, 153, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u789:active
{
	background: transparent url("../images/u724-m-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(107, 107, 107, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u790-4
{
	width: 104px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1259.MuseMenuActive #u1261-4,#u789:hover #u790-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u789:active #u790-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2060
{
	width: 104px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 636px;
}

#u2061
{
	width: 104px;
	background: transparent url("../images/u815-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(41, 171, 226, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(41, 171, 226, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(41, 171, 226, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(41, 171, 226, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	padding-bottom: 17px;
	position: relative;
}

#u2061:hover
{
	background: transparent url("../images/u724-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(153, 153, 153, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u2061:active
{
	background: transparent url("../images/u724-m-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(107, 107, 107, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u2064-4
{
	width: 104px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u789.MuseMenuActive #u790-4,#u2061:hover #u2064-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2061:active #u2064-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2061.MuseMenuActive #u2064-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#accordionu1066
{
	z-index: 55;
	width: 739px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-top: 20px;
	position: relative;
}

#u1078
{
	z-index: 56;
	width: 739px;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
}

#u1081-4
{
	z-index: 57;
	width: 727px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1081-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 727px;
	margin: 0px;
}

#u1081-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 727px;
	margin: 0px;
}

#u1079
{
	z-index: 61;
	width: 737px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
}

#u1117-10
{
	z-index: 62;
	width: 716px;
	min-height: 348px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 10px;
}

#u1067
{
	z-index: 72;
	width: 739px;
	background-color: transparent;
	position: relative;
}

#u1071-4
{
	z-index: 73;
	width: 727px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1071-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 727px;
	margin: 0px;
}

#u1071-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 727px;
	margin: 0px;
}

#u1068
{
	z-index: 77;
	width: 737px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
}

#u1118-7
{
	z-index: 81;
	width: 707px;
	min-height: 210px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 15px;
}

#u1070-3
{
	z-index: 78;
	width: 15px;
	min-height: 63px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 307px;
}

#u1072
{
	z-index: 88;
	width: 739px;
	background-color: transparent;
	position: relative;
}

#u1073-4
{
	z-index: 89;
	width: 727px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #DEDEDE;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1073-4:hover
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 727px;
	margin: 0px;
}

#u1073-4:active
{
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 727px;
	margin: 0px;
}

#u1081-4.AccordionPanelTabOpen,#u1071-4.AccordionPanelTabOpen,#u1073-4.AccordionPanelTabOpen
{
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 727px;
	margin: 0px;
}

#u1081-4.AccordionPanelTabOpen p,#u1071-4.AccordionPanelTabOpen p,#u1073-4.AccordionPanelTabOpen p
{
	color: #4F4F4F;
	visibility: inherit;
}

#u1074
{
	z-index: 93;
	width: 737px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-bottom: 3px;
	position: relative;
}

#u1121-7
{
	z-index: 94;
	width: 702px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 17px;
}

.MenuItem,.AccordionPanelTab /* unifiedNavBar */
{
	cursor: pointer;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

