.version.index /* version checker */
{
	color: #000003;
	background-color: #6DA777;
}

.html
{
	background: #FFFFFF url("../images/10519-mcdonnell-douglas-f-15-eagle-1366x768-aircraft-wallpaper.jpg") repeat left top fixed;
}

#page
{
	z-index: 1;
	width: 740px;
	min-height: 482.54999999999995px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 0px 0px 10px 0px ;
	-webkit-border-radius: 0px 0px 10px 0px ;
	-khtml-border-radius: 0px 0px 10px 0px ;
	border-radius: 0px 0px 10px 0px ;
	margin-left: auto;
	margin-right: auto;
	padding: 5px 116px 62.450000000000045px 144px;
}

#pu271-4
{
	width: 0.01px;
	margin-left: 212px;
}

#u271-4
{
	z-index: 4;
	width: 118px;
	min-height: 30px;
	background-color: transparent;
	font-size: 30px;
	color: #FDD001;
	line-height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

#u265
{
	z-index: 2;
	width: 64px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 126px;
}

#u272-4
{
	z-index: 8;
	width: 156px;
	min-height: 41px;
	background-color: transparent;
	font-size: 30px;
	color: #FDD001;
	line-height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 208px;
}

#menuu633
{
	z-index: 19;
	width: 740px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 153px;
	left: 50%;
	margin-left: -356px;
}

#u641
{
	width: 104px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u644
{
	width: 104px;
	background: transparent url("../images/u644-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(253, 208, 1, 0.46)),color-stop(100%, rgba(251, 176, 59, 0.5)));
	background: -webkit-linear-gradient(left,rgba(253, 208, 1, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(253, 208, 1, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: linear-gradient(to right,rgba(253, 208, 1, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	padding-bottom: 17px;
	position: relative;
}

#u644.MuseMenuActive
{
	background: transparent url("../images/u644-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(253, 208, 1, 0.46)),color-stop(100%, rgba(251, 176, 59, 0.5)));
	background: -webkit-linear-gradient(left,rgba(253, 208, 1, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(253, 208, 1, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: linear-gradient(to right,rgba(253, 208, 1, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	margin: 0px;
}

#u645-4
{
	width: 104px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 0px;
}

#u644:hover #u645-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u644:active #u645-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u634
{
	width: 104px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 106px;
}

#u635
{
	width: 104px;
	background: transparent url("../images/u644-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(253, 208, 1, 0.46)),color-stop(100%, rgba(251, 176, 59, 0.5)));
	background: -webkit-linear-gradient(left,rgba(253, 208, 1, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(253, 208, 1, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: linear-gradient(to right,rgba(253, 208, 1, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	padding-bottom: 17px;
	position: relative;
}

#u635:hover
{
	background: transparent url("../images/u635-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(153, 153, 153, 0.46)),color-stop(100%, rgba(251, 176, 59, 0.5)));
	background: -webkit-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: linear-gradient(to right,rgba(153, 153, 153, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	margin: 0px;
}

#u635:active
{
	background: transparent url("../images/u635-m-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(107, 107, 107, 0.46)),color-stop(100%, rgba(251, 176, 59, 0.5)));
	background: -webkit-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: linear-gradient(to right,rgba(107, 107, 107, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	margin: 0px;
}

#u636-4
{
	width: 104px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u644.MuseMenuActive #u645-4,#u635:hover #u636-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u635:active #u636-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u648
{
	width: 104px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 212px;
}

#u649
{
	width: 104px;
	background: transparent url("../images/u644-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(253, 208, 1, 0.46)),color-stop(100%, rgba(251, 176, 59, 0.5)));
	background: -webkit-linear-gradient(left,rgba(253, 208, 1, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(253, 208, 1, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: linear-gradient(to right,rgba(253, 208, 1, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	padding-bottom: 17px;
	position: relative;
}

#u649:hover
{
	background: transparent url("../images/u635-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(153, 153, 153, 0.46)),color-stop(100%, rgba(251, 176, 59, 0.5)));
	background: -webkit-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: linear-gradient(to right,rgba(153, 153, 153, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	margin: 0px;
}

#u649:active
{
	background: transparent url("../images/u635-m-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(107, 107, 107, 0.46)),color-stop(100%, rgba(251, 176, 59, 0.5)));
	background: -webkit-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: linear-gradient(to right,rgba(107, 107, 107, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	margin: 0px;
}

#u650-4
{
	width: 104px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u635.MuseMenuActive #u636-4,#u649:hover #u650-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u649:active #u650-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u655
{
	width: 104px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 318px;
}

#u658
{
	width: 104px;
	background: transparent url("../images/u644-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(253, 208, 1, 0.46)),color-stop(100%, rgba(251, 176, 59, 0.5)));
	background: -webkit-linear-gradient(left,rgba(253, 208, 1, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(253, 208, 1, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: linear-gradient(to right,rgba(253, 208, 1, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	padding-bottom: 17px;
	position: relative;
}

#u658:hover
{
	background: transparent url("../images/u635-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(153, 153, 153, 0.46)),color-stop(100%, rgba(251, 176, 59, 0.5)));
	background: -webkit-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: linear-gradient(to right,rgba(153, 153, 153, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	margin: 0px;
}

#u658:active
{
	background: transparent url("../images/u635-m-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(107, 107, 107, 0.46)),color-stop(100%, rgba(251, 176, 59, 0.5)));
	background: -webkit-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: linear-gradient(to right,rgba(107, 107, 107, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	margin: 0px;
}

#u660-4
{
	width: 104px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u649.MuseMenuActive #u650-4,#u658:hover #u660-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u658:active #u660-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1249
{
	width: 104px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 424px;
}

#u1250
{
	width: 104px;
	background: transparent url("../images/u644-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(253, 208, 1, 0.46)),color-stop(100%, rgba(251, 176, 59, 0.5)));
	background: -webkit-linear-gradient(left,rgba(253, 208, 1, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(253, 208, 1, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: linear-gradient(to right,rgba(253, 208, 1, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	padding-bottom: 17px;
	position: relative;
}

#u1250:hover
{
	background: transparent url("../images/u635-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(153, 153, 153, 0.46)),color-stop(100%, rgba(251, 176, 59, 0.5)));
	background: -webkit-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: linear-gradient(to right,rgba(153, 153, 153, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	margin: 0px;
}

#u1250:active
{
	background: transparent url("../images/u635-m-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(107, 107, 107, 0.46)),color-stop(100%, rgba(251, 176, 59, 0.5)));
	background: -webkit-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: linear-gradient(to right,rgba(107, 107, 107, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	margin: 0px;
}

#u1253-4
{
	width: 104px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u658.MuseMenuActive #u660-4,#u1250:hover #u1253-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1250:active #u1253-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u662
{
	width: 104px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 530px;
}

#u663
{
	width: 104px;
	background: transparent url("../images/u644-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(253, 208, 1, 0.46)),color-stop(100%, rgba(251, 176, 59, 0.5)));
	background: -webkit-linear-gradient(left,rgba(253, 208, 1, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(253, 208, 1, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: linear-gradient(to right,rgba(253, 208, 1, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	padding-bottom: 17px;
	position: relative;
}

#u663:hover
{
	background: transparent url("../images/u635-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(153, 153, 153, 0.46)),color-stop(100%, rgba(251, 176, 59, 0.5)));
	background: -webkit-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: linear-gradient(to right,rgba(153, 153, 153, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	margin: 0px;
}

#u663:active
{
	background: transparent url("../images/u635-m-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(107, 107, 107, 0.46)),color-stop(100%, rgba(251, 176, 59, 0.5)));
	background: -webkit-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: linear-gradient(to right,rgba(107, 107, 107, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	margin: 0px;
}

#u664-4
{
	width: 104px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1250.MuseMenuActive #u1253-4,#u663:hover #u664-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u663:active #u664-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2081
{
	width: 104px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 636px;
}

#u2082
{
	width: 104px;
	background: transparent url("../images/u644-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(253, 208, 1, 0.46)),color-stop(100%, rgba(251, 176, 59, 0.5)));
	background: -webkit-linear-gradient(left,rgba(253, 208, 1, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(253, 208, 1, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: linear-gradient(to right,rgba(253, 208, 1, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	padding-bottom: 17px;
	position: relative;
}

#u2082:hover
{
	background: transparent url("../images/u635-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(153, 153, 153, 0.46)),color-stop(100%, rgba(251, 176, 59, 0.5)));
	background: -webkit-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: linear-gradient(to right,rgba(153, 153, 153, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	margin: 0px;
}

#u2082:active
{
	background: transparent url("../images/u635-m-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(107, 107, 107, 0.46)),color-stop(100%, rgba(251, 176, 59, 0.5)));
	background: -webkit-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	background: linear-gradient(to right,rgba(107, 107, 107, 0.46) ,rgba(251, 176, 59, 0.5) 100%);
	margin: 0px;
}

#u2085-4
{
	width: 104px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u663.MuseMenuActive #u664-4,#u2082:hover #u2085-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2082:active #u2085-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2082.MuseMenuActive #u2085-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#pu283-3
{
	width: 0.01px;
	margin-top: 85px;
}

#u283-3
{
	z-index: 12;
	width: 740px;
	min-height: 174px;
	border-color: #DEFFEA;
	background-color: #989898;
	background-color: rgba(127, 127, 127, 0.8);
	font-weight: normal;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127, 127, 127, 0.8);
}

#u284-4
{
	z-index: 15;
	width: 716px;
	background-color: transparent;
	color: #000000;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 14px;
}

#slideshowu1135
{
	z-index: 62;
	width: 0.01px;
	height: 184px;
	margin-top: 14px;
	position: relative;
}

#u1154
{
	position: absolute;
	width: 740px;
	height: 144px;
	background-color: transparent;
}

#u1154popup
{
	z-index: 63;
}

#u1155
{
	z-index: 64;
	width: 740px;
	height: 144px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1193
{
	z-index: 66;
	width: 740px;
	height: 144px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1202
{
	z-index: 68;
	width: 740px;
	height: 144px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1147
{
	position: absolute;
	width: 617px;
	background-color: transparent;
	top: 144px;
}

#u1147popup
{
	z-index: 70;
}

#u1148-4
{
	z-index: 71;
	width: 597px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1199-4
{
	z-index: 75;
	width: 597px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1208-4
{
	z-index: 79;
	width: 597px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1146-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 144px;
	left: 642px;
}

#u1146-4popup
{
	z-index: 83;
}

#u1153-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 144px;
	left: 617px;
}

#u1153-4popup
{
	z-index: 87;
}

#u1146,#u1153
{
	color: #999999;
}

#u1136-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 144px;
	left: 710px;
}

#u1136-4popup
{
	z-index: 91;
}

.MenuItem,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

body
{
	position: relative;
	min-width: 1000px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

