.version.navyvehicles /* version checker */
{
	color: #00000D;
	background-color: #A2A52B;
}

.html
{
	background: #FFFFFF url("../images/aircraft-carrier-ins-vikramaditya-indian-navy.jpg") no-repeat left top fixed;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.75px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -2px;
	padding-bottom: 62px;
}

#pu1770-4
{
	width: 0.01px;
	margin-left: 346px;
}

#u1770-4
{
	z-index: 4;
	width: 104px;
	min-height: 30px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
}

#u1768
{
	z-index: 2;
	width: 64px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 116px;
}

#u1771-4
{
	z-index: 8;
	width: 156px;
	min-height: 41px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 192px;
}

#menuu1772
{
	z-index: 12;
	width: 740px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 124px;
	margin-top: 47px;
	position: relative;
}

#u1773
{
	width: 104px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1774
{
	width: 104px;
	background: transparent url("../images/u1774-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(46, 49, 146, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(46, 49, 146, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(46, 49, 146, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(46, 49, 146, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	padding-bottom: 17px;
	position: relative;
}

#u1774:hover
{
	background: transparent url("../images/u1774-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(153, 153, 153, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u1774:active
{
	background: transparent url("../images/u1774-m-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(107, 107, 107, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u1775-4
{
	width: 104px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1774:hover #u1775-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1774:active #u1775-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1808
{
	width: 104px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 106px;
}

#u1811
{
	width: 104px;
	background: transparent url("../images/u1774-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(46, 49, 146, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(46, 49, 146, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(46, 49, 146, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(46, 49, 146, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	padding-bottom: 17px;
	position: relative;
}

#u1811:hover
{
	background: transparent url("../images/u1774-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(153, 153, 153, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u1811:active
{
	background: transparent url("../images/u1774-m-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(107, 107, 107, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u1812-4
{
	width: 104px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1774.MuseMenuActive #u1775-4,#u1811:hover #u1812-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1811:active #u1812-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1801
{
	width: 104px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 212px;
}

#u1802
{
	width: 104px;
	background: transparent url("../images/u1774-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(46, 49, 146, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(46, 49, 146, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(46, 49, 146, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(46, 49, 146, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	padding-bottom: 17px;
	position: relative;
}

#u1802:hover
{
	background: transparent url("../images/u1774-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(153, 153, 153, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u1802:active
{
	background: transparent url("../images/u1774-m-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(107, 107, 107, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u1805-4
{
	width: 104px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1811.MuseMenuActive #u1812-4,#u1802:hover #u1805-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1802:active #u1805-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1780
{
	width: 104px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 318px;
}

#u1781
{
	width: 104px;
	background: transparent url("../images/u1774-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(46, 49, 146, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(46, 49, 146, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(46, 49, 146, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(46, 49, 146, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	padding-bottom: 17px;
	position: relative;
}

#u1781:hover
{
	background: transparent url("../images/u1774-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(153, 153, 153, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u1781:active
{
	background: transparent url("../images/u1774-m-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(107, 107, 107, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u1784-4
{
	width: 104px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1802.MuseMenuActive #u1805-4,#u1781:hover #u1784-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1781:active #u1784-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1787
{
	width: 104px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 424px;
}

#u1790
{
	width: 104px;
	background: transparent url("../images/u1774-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(46, 49, 146, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(46, 49, 146, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(46, 49, 146, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(46, 49, 146, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	padding-bottom: 17px;
	position: relative;
}

#u1790:hover
{
	background: transparent url("../images/u1774-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(153, 153, 153, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u1790:active
{
	background: transparent url("../images/u1774-m-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(107, 107, 107, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u1792-4
{
	width: 104px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1781.MuseMenuActive #u1784-4,#u1790:hover #u1792-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1790:active #u1792-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1794
{
	width: 104px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 530px;
}

#u1797
{
	width: 104px;
	background: transparent url("../images/u1774-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(46, 49, 146, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(46, 49, 146, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(46, 49, 146, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(46, 49, 146, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	padding-bottom: 17px;
	position: relative;
}

#u1797:hover
{
	background: transparent url("../images/u1774-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(153, 153, 153, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u1797:active
{
	background: transparent url("../images/u1774-m-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(107, 107, 107, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u1799-4
{
	width: 104px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1790.MuseMenuActive #u1792-4,#u1797:hover #u1799-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1797:active #u1799-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2053
{
	width: 104px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 636px;
}

#u2056
{
	width: 104px;
	background: transparent url("../images/u1774-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(46, 49, 146, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(46, 49, 146, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(46, 49, 146, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(46, 49, 146, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	padding-bottom: 17px;
	position: relative;
}

#u2056:hover
{
	background: transparent url("../images/u1774-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(153, 153, 153, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(153, 153, 153, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u2056:active
{
	background: transparent url("../images/u1774-m-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(rgba(107, 107, 107, 0.46)),color-stop(100%, rgba(0, 113, 188, 0.5)));
	background: -webkit-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: -o-linear-gradient(left,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	background: linear-gradient(to right,rgba(107, 107, 107, 0.46) ,rgba(0, 113, 188, 0.5) 100%);
	margin: 0px;
}

#u2059-4
{
	width: 104px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1797.MuseMenuActive #u1799-4,#u2056:hover #u2059-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2056:active #u2059-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u2056.MuseMenuActive #u2059-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#pamphletu2367
{
	z-index: 55;
	width: 0.01px;
	height: 153px;
	padding-bottom: 452px;
	margin-left: 124px;
	margin-top: 23px;
	position: relative;
}

#u2381
{
	position: absolute;
	width: 531px;
	background-color: transparent;
	left: 209px;
}

#u2381popup
{
	z-index: 56;
}

#u2387
{
	z-index: 57;
	width: 531px;
	height: 605px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#pu2437
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 24px;
	margin-left: 29px;
}

#u2437
{
	z-index: 58;
	width: 200px;
	background-color: transparent;
	position: relative;
}

#u2447-4
{
	z-index: 62;
	width: 140px;
	min-height: 19px;
	background-color: transparent;
	margin-left: 36px;
	margin-top: 17px;
	position: relative;
}

#pu2442
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 24px;
	margin-left: 293px;
}

#u2442
{
	z-index: 60;
	width: 200px;
	background-color: transparent;
	position: relative;
}

#u2448-4
{
	z-index: 66;
	width: 127px;
	background-color: transparent;
	margin-left: 35px;
	margin-top: 21px;
	position: relative;
}

#u2382
{
	z-index: 70;
	width: 481px;
	height: 588px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 12px 12px 5px 38px;
}

#pu2449
{
	width: 0.01px;
	margin-right: -10000px;
}

#u2449
{
	z-index: 71;
	width: 200px;
	background-color: transparent;
	position: relative;
}

#u2484-4
{
	z-index: 85;
	width: 140px;
	min-height: 1px;
	background-color: transparent;
	margin-left: 27px;
	margin-top: 9px;
	position: relative;
}

#u2454
{
	z-index: 73;
	width: 200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 281px;
}

#pu2459
{
	width: 0.01px;
	margin-top: 7px;
}

#u2459
{
	z-index: 75;
	width: 200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#pu2487-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 281px;
}

#u2487-4
{
	z-index: 97;
	width: 140px;
	min-height: 1px;
	background-color: transparent;
	margin-left: 30px;
	position: relative;
}

#u2464
{
	z-index: 77;
	width: 200px;
	background-color: transparent;
	margin-top: 10px;
	position: relative;
}

#u2488-4
{
	z-index: 101;
	width: 140px;
	min-height: 1px;
	background-color: transparent;
	margin-left: 30px;
	margin-top: 9px;
	position: relative;
}

#ppu2485-4
{
	width: 0.01px;
	margin-top: 9px;
}

#pu2485-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u2485-4
{
	z-index: 89;
	width: 140px;
	min-height: 1px;
	background-color: transparent;
	margin-left: 30px;
	position: relative;
}

#u2469
{
	z-index: 79;
	width: 200px;
	background-color: transparent;
	margin-top: 8px;
	position: relative;
}

#pu2474
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 281px;
}

#u2474
{
	z-index: 81;
	width: 200px;
	background-color: transparent;
	position: relative;
}

#u2489-4
{
	z-index: 105;
	width: 140px;
	min-height: 1px;
	background-color: transparent;
	margin-left: 38px;
	margin-top: 10px;
	position: relative;
}

#pu2486-4
{
	width: 0.01px;
	margin-left: 27px;
	margin-top: -8px;
}

#u2486-4
{
	z-index: 93;
	width: 140px;
	min-height: 1px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
}

#u2479
{
	z-index: 83;
	width: 200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 254px;
}

#u2490-4
{
	z-index: 109;
	width: 140px;
	min-height: 1px;
	background-color: transparent;
	margin-left: 311px;
	margin-top: 5px;
	position: relative;
}

#u2392
{
	z-index: 113;
	width: 462px;
	height: 357px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 22px 44px 226px 25px;
}

#ppu2449,#pu2491
{
	width: 0.01px;
}

#u2491
{
	z-index: 114;
	width: 200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2496
{
	z-index: 116;
	width: 220px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 242px;
}

#pu2516-4
{
	width: 0.01px;
	margin-left: 32px;
	margin-top: 17px;
}

#u2516-4
{
	z-index: 122;
	width: 145px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2518-4
{
	z-index: 130;
	width: 145px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 247px;
}

#pu2501
{
	width: 0.01px;
	margin-top: 12px;
}

#u2501
{
	z-index: 118;
	width: 200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u2506
{
	z-index: 120;
	width: 187px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 259px;
}

#pu2517-4
{
	width: 0.01px;
	margin-left: 32px;
	margin-top: 12px;
}

#u2517-4
{
	z-index: 126;
	width: 145px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2519-4
{
	z-index: 134;
	width: 145px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 248px;
}

#u2368
{
	z-index: 138;
	width: 182px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 8px;
}

#u2369
{
	position: absolute;
	width: 199px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	padding-bottom: 3px;
	top: -7px;
	left: -8px;
}

#u2369:hover
{
	border-color: #999999;
	width: 199px;
	min-height: 0px;
	margin: 0px;
}

#u2370-4
{
	z-index: 140;
	width: 180px;
	min-height: 20px;
	background-color: transparent;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 9px;
}

#u2369:hover #u2370-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 6px -10000px 0px 0px;
}

#u2369.PamphletThumbSelected #u2370-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 6px -10000px 0px 0px;
}

#u2369:hover #u2370-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u2373
{
	position: absolute;
	width: 199px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	padding-bottom: 5px;
	top: 59px;
	left: -8px;
}

#u2369.PamphletThumbSelected,#u2373:hover
{
	border-color: #999999;
	width: 199px;
	min-height: 0px;
	margin: 0px;
}

#u2374-4
{
	z-index: 145;
	width: 180px;
	min-height: 20px;
	background-color: transparent;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 7px;
}

#u2373:hover #u2374-4
{
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 4px -10000px 0px 0px;
}

#u2373.PamphletThumbSelected #u2374-4
{
	border-color: #DEDEDE;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 4px -10000px 0px 0px;
}

#u2373:hover #u2374-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u2371
{
	position: absolute;
	width: 199px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	padding-bottom: 4px;
	top: 117px;
	left: -8px;
}

#u2373.PamphletThumbSelected,#u2371:hover
{
	border-color: #999999;
	width: 199px;
	min-height: 0px;
	margin: 0px;
}

#u2371.PamphletThumbSelected
{
	border-color: #999999;
	width: 199px;
	min-height: 0px;
	margin: 0px;
}

#u2372-4
{
	z-index: 150;
	width: 180px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 9px;
}

#u2371:hover #u2372-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 5px -10000px 0px 0px;
}

#u2371.PamphletThumbSelected #u2372-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 5px -10000px 0px 0px;
}

#u2371:hover #u2372-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u2369.PamphletThumbSelected #u2370-4 p,#u2373.PamphletThumbSelected #u2374-4 p,#u2371.PamphletThumbSelected #u2372-4 p
{
	color: #6B6B6B;
	visibility: inherit;
	line-height: 1.4;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

